---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
    
    {{{stylesheet 'assets/vendor/jquery-ui-1.12.1.custom/jquery-ui.min.css'}}}
      {{{stylesheet 'assets/vendor/ion.rangeSlider-2.2.0/css/ion.rangeSlider.css'}}}
    {{{stylesheet 'assets/vendor/ion.rangeSlider-2.2.0/css/ion.rangeSlider.skinHTML5.css'}}}

{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage category.image 'zoom_size'}}">
{{/if}}
<h1 class="page-heading">{{category.name}}</h1>

{{{snippet 'categories'}}}

<div class="page diamond">
    <div id="diamond-shortlisted-tab">
          <ul class="nav nav-tabs">
            <li><a href="#diamondsTab" >Diamonds</a></li>
            <li><a href="#shortlistedTab">Shortlisted (<span class="totalShortlistedDiamonds">0</span>)</a></li>
          </ul>
        <div id="diamondsTab">

            {{#or category.subcategories category.faceted_search_enabled}}
                {{> components/category/sidebar-diamond}}
            {{else}}
                {{#if theme_settings.shop_by_price_visible}}
                    <aside class="page-sidebar" id="faceted-search-container">
                        {{> components/category/sidebar}}
                    </aside>
                {{/if}}
            {{/or}}
            <main id="product-listing-container">
                {{#if category.products}}
{{> components/products/filter sort=pagination.category.sort}}

<form action="{{urls.compare}}" method='POST' data-product-compare>
    {{#if theme_settings.product_list_display_mode '===' 'grid'}}
        {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
    {{else}}
        {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
    {{/if}}
</form>

{{> components/common/paginator pagination.category}}

                {{else}}
                    <p>{{lang 'categories.no_products'}}</p>
                {{/if}}
            </main>
         </div>
   
        <div id="shortlistedTab">
            <main>
             {{> components/diamond/product-list selected=true}}
            </main>
        </div>
    </div>
</div>
{{/partial}}

{{{category.description}}}

{{> layout/base}}
