 <div class="accordion-block range">
    <div
        class="accordion-navigation toggleLink {{#unless ../start_collapsed }} is-open {{/unless}}"
        role="button"
        data-collapsible="#facetedSearch-content--{{hyphenate facet }}">
        <h4 class="accordion-title">
            {{ title }}
        </h4>
    </div>

    <div id="facetedSearch-content--{{hyphenate facet }}" class="accordion-content {{#unless ../start_collapsed }} is-open {{/unless}}">
        <input class="range-slider" facet="{{toLowerCase title }}" id="range-{{toLowerCase title }}" />
        {{#if notNumber '!==' 'text' }}
            <fieldset class="form-fieldset">
                <div class="form-minMaxRow">
                    <div class="form-field">
                        <input name="min-{{hyphenate facet }}" id="min-{{hyphenate facet }}"  />
                        <span id="min-{{toLowerCase title }}-error" class="error-message"></span>
                    </div>

                    <div class="form-field">
                        <input name="max-{{hyphenate facet }}" id="min-{{hyphenate facet }}" />
                        <span id="max-{{toLowerCase title }}-error" class="error-message"></span>
                    </div>
                </div> 
            </fieldset>
        {{/if}}
    </div>
</div>